# Dependencies
**/node_modules/

# Next.js
**/.next/
**/out/

# Build info
*.tsbuildinfo
next-env.d.ts

# Env / secrets
.env
.env*.local
**/.env
**/.env*.local
*.key
*.pem
*.keystore
.sui/

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
Thumbs.db

# Vercel
.vercel/

# Misc local
terminals/
*.bak
